04.Meta_Adsset_Off_noGGS_today_IfCPA_NotPass_Zalo.json
{
  "name": "04.Meta_Adsset_Off_noGGS_today_IfCPA_NotPass_Zalo.json",
  "nodes": [
    {
      "parameters": {
        "content": "TKN07_VN Tắt Quảng Cáo Nếu Không Đạt",
        "height": 976,
        "width": 5120
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "3919df04-f32c-4b53-ae60-ac247fba7403",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2576,
        32
      ],
      "id": "54679bd6-3ebb-4fa8-8aa5-3cce7ff68126",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Aggregate1').item.json.data }}",
        "options": {
          "systemMessage": "=Bạn là trợ lý AI. Hãy phân tích dữ liệu Facebook Ads sau và tạo báo cáo NGẮN GỌN về **các nhóm quảng cáo đang bị tắt** cho **tài khoản TK07_ Python Lập Trình:\n\nDữ liệu:\n\n{{ $('Aggregate1').item.json.data }}\n\nYêu cầu đầu ra (bắt buộc):\n\n* Tổng độ dài phản hồi **≤ 1500 ký tự**.\n* **Chỉ** liệt kê các nhóm có trạng thái **PAUSED** (bị tắt).\n* Với **mỗi nhóm PAUSED**, chỉ cung cấp:\n\n  1. **Tên nhóm**\n  2. **Chi tiêu** (đơn vị **VNĐ**)\n  3. **Trạng thái**: PAUSED\n  4. **Lý do tắt** (suy luận ngắn gọn dựa trên dữ liệu: ví dụ chi tiêu thấp/0, không có chuyển đổi, CPC/CPA cao, hiệu quả kém, hết ngân sách, hoặc bị tắt thủ công — chọn lý do phù hợp nhất từ các chỉ số có sẵn).\n* **Không** đưa nhóm ACTIVE và **không** thêm thông tin nào khác ngoài các mục trên."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        3680,
        16
      ],
      "id": "12c30bbe-39ce-4cbe-9cc8-000165516285",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        3488,
        208
      ],
      "id": "3743c382-7dd4-4a3e-a324-1e54a241c7d3",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "O00uQUVJ3Z2xrDsL",
          "name": "OpenAi account 7"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://bot-api.zaloplatforms.com/bot{{ $('Thông Số Đầu Vào3').item.json.api_zalo }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $('Thông Số Đầu Vào3').item.json.Zalo_Chat_ID }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4720,
        16
      ],
      "id": "046e1a3d-9575-427c-bb77-2f7b1285e06e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "bcbf93e1-2169-4b60-a2b3-158deb000f7c",
              "leftValue": "={{ parseFloat($('Split Out Adsets3').item.json.insights.data[0].spend) }}",
              "rightValue": "={{ $('Quy Đổi Theo Tỷ Suất3').item.json.Nguong_Duoi }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "b075226f-11f1-4d28-b037-9826597195b5",
              "leftValue": "={{ parseFloat($('Split Out Adsets3').item.json.insights.data[0].spend) }}",
              "rightValue": "={{ $('Quy Đổi Theo Tỷ Suất3').item.json.Nguong_Tren }}",
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2144,
        416
      ],
      "id": "f4e4e61b-c9e7-48bc-98d8-92cdda17fd1d",
      "name": "Lọc nhóm trong ngưỡng theo chi tiêu3"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        128,
        608
      ],
      "id": "b57f3266-17d6-43e1-8dc5-f494c8539344",
      "name": "Schedule Trigger3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3acae58a-6d3c-4db5-a1aa-edf9cd88181b",
              "name": "access_token",
              "value": "",
              "type": "string"
            },
            {
              "id": "1dda0de4-888e-4d16-9892-0491110769e8",
              "name": "Nguong_CPA",
              "value": 12000,
              "type": "number"
            },
            {
              "id": "e06e933a-425d-4633-ac53-f70f7a04aec1",
              "name": "Cam_Chi_Tieu_Nguong_Tren",
              "value": 2000000,
              "type": "number"
            },
            {
              "id": "fa677240-82bc-4d7f-8920-075213b9bdf2",
              "name": "Cam_Chi_Tieu_Nguong_Duoi",
              "value": 9000,
              "type": "number"
            },
            {
              "id": "3b389a25-5c9c-4253-bb1c-63a25ebb892a",
              "name": "ID_Ads",
              "value": "1036361418710293",
              "type": "string"
            },
            {
              "id": "b549214c-80ce-4ff3-bd43-c3631f455f1f",
              "name": "api_zalo",
              "value": "2205133194648414848:YGYjPWSDupGRAYlkBEPctPizuMBsLGYRwlbRImXsWGPwSeMQVEJoPDMqFyBZeAzJ",
              "type": "string"
            },
            {
              "id": "2bdfd254-b79e-461b-bc1b-70e151024d10",
              "name": "Bao_Nhieu_Nhom_Tot",
              "value": 1,
              "type": "number"
            },
            {
              "id": "6454eca5-407b-426b-a213-5f0dffebd5c3",
              "name": "Ty_Gia",
              "value": 1,
              "type": "number"
            },
            {
              "id": "e63f21d4-28f8-4ac0-ac30-25fc98990511",
              "name": "Zalo_Chat_ID",
              "value": "e95666e6e0b609e850a7",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        608
      ],
      "id": "2f330cf2-9595-45c0-b1f2-93ad194a6846",
      "name": "Thông Số Đầu Vào3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f06248d3-79e8-4c06-9c27-e1f1a1a7116a",
              "name": "Nguong_Tren",
              "value": "={{ $json.Cam_Chi_Tieu_Nguong_Tren / $json.Ty_Gia }}",
              "type": "number"
            },
            {
              "id": "5edf6042-b206-4323-9a38-7b1b059548a0",
              "name": "Nguong_Duoi",
              "value": "={{ $json.Cam_Chi_Tieu_Nguong_Duoi / $json.Ty_Gia }}",
              "type": "number"
            },
            {
              "id": "d2749306-3ae1-43a5-be23-789910643ef4",
              "name": "Nguong_CPA",
              "value": "={{ $json.Nguong_CPA / $json.Ty_Gia }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        608
      ],
      "id": "21c9aac7-64c3-41ce-a160-92dc89248ade",
      "name": "Quy Đổi Theo Tỷ Suất3"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v24.0/act_{{ $('Thông Số Đầu Vào3').first().json.ID_Ads }}/campaigns",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "id,name,status"
            },
            {
              "name": "limit",
              "value": "1000"
            },
            {
              "name": "access_token",
              "value": "={{ $('Thông Số Đầu Vào3').first().json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "49e7825c-5e7e-4ec4-beb9-7199128ffafd",
      "name": "Lấy dữ liệu Campaigns3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        800,
        608
      ],
      "notesInFlow": true,
      "notes": "Lấy tất cả campaigns"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1024,
        608
      ],
      "id": "d8334f48-c50a-4f38-ad65-c8feeac2d201",
      "name": "Split Out Campaigns3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "filter-active-campaign",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ACTIVE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1248,
        608
      ],
      "id": "1cb906b3-dbeb-4bd9-8a48-3012c700c73a",
      "name": "Lọc Campaigns Active3"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v24.0/{{ $json.id }}/adsets",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "id,name,status,daily_budget,insights.date_preset(today){spend,actions},campaign{id,name,status},ads{id,name,creative{effective_object_story_id}}"
            },
            {
              "name": "limit",
              "value": "1000"
            },
            {
              "name": "access_token",
              "value": "={{ $('Thông Số Đầu Vào3').first().json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2121ea63-a80e-47e3-a271-da9221b9f879",
      "name": "Lấy dữ liệu Nhóm3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1472,
        608
      ],
      "notesInFlow": true,
      "notes": "Lấy adsets từ campaigns active"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1696,
        608
      ],
      "id": "9b288085-0405-4b1d-a932-27d810635ac5",
      "name": "Split Out Adsets3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "filter-active-adset",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ACTIVE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2832,
        400
      ],
      "id": "6d56b086-17a0-4a35-b8d0-352ae5afec78",
      "name": "Lọc Adsets ACTIVE3"
    },
    {
      "parameters": {
        "jsCode": "// =======================\n// 1. LẤY THÔNG SỐ ĐẦU VÀO\n// =======================\n\n// Lấy tỷ giá từ node \"Thông Số Đầu Vào\"\n// .first() vì node này chỉ có 1 item cấu hình\n// Ty_Gia dùng để quy đổi USD → VNĐ\nconst tyGia = $('Thông Số Đầu Vào3').first().json.Ty_Gia;\n\n// Lấy ngưỡng CPA cho phép từ node \"Quy Đổi Theo Tỷ Suất\"\n// (chưa dùng trong đoạn này, để phục vụ logic bật/tắt ads phía sau)\nconst nguongCPA = $('Quy Đổi Theo Tỷ Suất3').first().json.Nguong_CPA;\n\n\n// ==================================\n// 2. LẤY ITEM HIỆN TẠI ĐANG ĐƯỢC LOOP\n// ==================================\n\n// Trong Code node, n8n tự loop từng item\n// items[0] chính là item hiện tại\nconst item = items[0];\n\n// Kiểm tra an toàn: nếu không có item hoặc json → bỏ qua\nif (!item || !item.json) {\n  return [];\n}\n\n\n// =======================\n// 3. LẤY DỮ LIỆU INSIGHTS\n// =======================\n\n// Facebook Ads insights thường có dạng:\n// insights: { data: [ { ... } ] }\n// ?. dùng để tránh lỗi nếu thiếu key\n// [0] lấy bản ghi đầu tiên\nconst insights = item.json.insights?.data?.[0] || null;\n\n// Nếu ad chưa có dữ liệu insights → bỏ qua\nif (!insights) {\n  return [];\n}\n\n\n// =========================================\n// 4. TÍNH TỔNG HÀNH ĐỘNG (COMMENT + INBOX)\n// =========================================\n\n// insights.actions chứa tất cả hành động của ads\n// Nếu không có → dùng mảng rỗng\nconst actions = insights.actions || [];\n\n// Biến cộng dồn tổng hành động\nlet totalActions = 0;\n\n// Duyệt từng action trong insights\nfor (const action of actions) {\n\n  // Chỉ lấy 2 loại hành động quan trọng:\n  // - comment\n  // - inbox (messaging)\n  if (\n    action.action_type === 'comment' ||\n    action.action_type === 'onsite_conversion.total_messaging_connection'\n  ) {\n    // action.value là string → parseInt sang số\n    // Nếu null → cộng 0\n    totalActions += parseInt(action.value || 0);\n  }\n}\n\n\n// =================\n// 5. TÍNH CPA\n// =================\n\n// Lấy chi phí quảng cáo (USD)\n// parseFloat để đảm bảo là số\nconst spend = parseFloat(insights.spend || 0);\n\n// Tính CPA:\n// - Nếu có hành động → CPA = (chi phí VNĐ / số hành động)\n// - Nếu có spend nhưng không có hành động → gán CPA rất lớn để auto tắt ads\n// - Nếu không spend → CPA = 0\nconst cpa =\n  totalActions > 0\n    ? (spend * tyGia) / totalActions\n    : (spend > 0 ? 999999 : 0);\n\n\n// =======================\n// 6. LẤY POST ID / AD ID\n// =======================\n\n// Lấy danh sách ads từ item\nconst ads = item.json.ads?.data || [];\n\n// Giá trị mặc định nếu không tìm thấy post id\nlet postId = 'No Post ID Found';\n\n// Nếu có ads\nif (ads.length > 0) {\n\n  // Lấy creative của ad đầu tiên\n  const creative = ads[0].creative || {};\n\n  // Ưu tiên lấy post id theo thứ tự:\n  // 1. effective_object_story_id (chuẩn nhất)\n  // 2. object_story_id\n  // 3. fallback = ad id\n  postId =\n    creative.effective_object_story_id ||\n    creative.object_story_id ||\n    ads[0].id ||\n    'No Post ID Found';\n}\n\n\n// =======================\n// 7. TRẢ KẾT QUẢ CHO NODE SAU\n// =======================\n\n// Code node luôn phải return mảng item\nreturn [{\n  json: {\n    // Giữ lại toàn bộ dữ liệu cũ\n    ...item.json,\n\n    // Gắn thêm các field mới để dùng cho automation\n    calculated_cpa: cpa,        // CPA đã tính\n    post_id: postId,             // ID bài viết / ad\n    total_actions: totalActions, // Tổng comment + inbox\n    spend: spend                 // Chi phí quảng cáo\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3504,
        384
      ],
      "id": "813893ba-b3b9-4bc1-ace3-e22ad7cbd752",
      "name": "Tính CPA3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-cpa",
              "leftValue": "={{ $json.calculated_cpa }}",
              "rightValue": "={{ $('Quy Đổi Theo Tỷ Suất3').first().json.Nguong_CPA }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3760,
        384
      ],
      "id": "cce3e052-ba99-4e8c-8743-f23f5009a474",
      "name": "Kiểm tra CPA > Ngưỡng3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "adset-id",
              "name": "adset_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "adset-name",
              "name": "adset_name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "campaign-id",
              "name": "campaign_id",
              "value": "={{ $json.campaign.id }}",
              "type": "string"
            },
            {
              "id": "campaign-name",
              "name": "campaign_name",
              "value": "={{ $json.campaign.name }}",
              "type": "string"
            },
            {
              "id": "cpa-value",
              "name": "cpa",
              "value": "={{ $json.calculated_cpa }}",
              "type": "number"
            },
            {
              "id": "post-id",
              "name": "post_id",
              "value": "={{ $json.post_id }}",
              "type": "string"
            },
            {
              "id": "reason",
              "name": "reason",
              "value": "={{ 'AdSet không đạt ngưỡng CPA (CPA = ' + $json.calculated_cpa + ' > ' + $('Quy Đổi Theo Tỷ Suất3').first().json.Nguong_CPA + ')' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4368,
        368
      ],
      "id": "c1f9f91b-94b9-4658-b828-ee658677f294",
      "name": "Chuẩn bị dữ liệu3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v24.0/{{ $json.adset_id }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "PAUSED"
            },
            {
              "name": "access_token",
              "value": "={{ $('Thông Số Đầu Vào3').first().json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0986ca2a-f168-4dda-b024-8d62d8603b8a",
      "name": "Tắt nhom3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        4640,
        368
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1920,
        608
      ],
      "id": "a06cd4c8-f562-496d-aab9-c76757ddb140",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "adset-id",
              "name": "adset_id",
              "value": "={{ $('Loop Over Items3').item.json.id }}",
              "type": "string"
            },
            {
              "id": "adset-name",
              "name": "adset_name",
              "value": "={{ $('Loop Over Items3').item.json.name }}",
              "type": "string"
            },
            {
              "id": "campaign-id",
              "name": "campaign_id",
              "value": "={{ $('Loop Over Items3').item.json.campaign.id }}",
              "type": "string"
            },
            {
              "id": "campaign-name",
              "name": "campaign_name",
              "value": "={{ $('Loop Over Items3').item.json.campaign.name }}",
              "type": "string"
            },
            {
              "id": "reason",
              "name": "reason",
              "value": "={{\n  Number($('Chuẩn bị dữ liệu3').item.json.cpa) === 999999\n    ? 'Không xuất hiện kết quả'\n    : 'AdSet không đạt ngưỡng CPA (CPA = '\n        + $('Chuẩn bị dữ liệu3').item.json.cpa\n        + ' > '\n        + $('Quy Đổi Theo Tỷ Suất3').first().json.Nguong_CPA\n        + ')'\n}}\n",
              "type": "string"
            },
            {
              "id": "1233ada8-cb9c-437d-ab39-78ef21ee049b",
              "name": "spend",
              "value": "={{ $('Loop Over Items3').item.json.insights.data[0].spend }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4912,
        704
      ],
      "id": "a9f5729e-0329-4ad0-9f73-1a554f012a56",
      "name": "Trả Về Kết Quả1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c0efa32a-9833-43be-930b-c79208cfd3dc",
              "leftValue": "={{ $json.data.some(item => item.reason) }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2784,
        32
      ],
      "id": "528939bd-b6dd-4168-8fee-8b7aba030595",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "return [];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4000,
        608
      ],
      "id": "bd28f36c-c5c9-42be-908c-3542bf4934b2",
      "name": "Code in JavaScript",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "return [];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3072,
        576
      ],
      "id": "49fb3abe-7ad8-4e8b-a1fe-2c2956354ace",
      "name": "Code in JavaScript1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "return [];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        480
      ],
      "id": "8093272d-cf98-4704-97e4-a7a88d372538",
      "name": "Code in JavaScript2",
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "Aggregate1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Lọc nhóm trong ngưỡng theo chi tiêu3": {
      "main": [
        [
          {
            "node": "Lọc Adsets ACTIVE3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger3": {
      "main": [
        [
          {
            "node": "Thông Số Đầu Vào3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Thông Số Đầu Vào3": {
      "main": [
        [
          {
            "node": "Quy Đổi Theo Tỷ Suất3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quy Đổi Theo Tỷ Suất3": {
      "main": [
        [
          {
            "node": "Lấy dữ liệu Campaigns3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy dữ liệu Campaigns3": {
      "main": [
        [
          {
            "node": "Split Out Campaigns3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Campaigns3": {
      "main": [
        [
          {
            "node": "Lọc Campaigns Active3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lọc Campaigns Active3": {
      "main": [
        [
          {
            "node": "Lấy dữ liệu Nhóm3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy dữ liệu Nhóm3": {
      "main": [
        [
          {
            "node": "Split Out Adsets3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Adsets3": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lọc Adsets ACTIVE3": {
      "main": [
        [
          {
            "node": "Tính CPA3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tính CPA3": {
      "main": [
        [
          {
            "node": "Kiểm tra CPA > Ngưỡng3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kiểm tra CPA > Ngưỡng3": {
      "main": [
        [
          {
            "node": "Chuẩn bị dữ liệu3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chuẩn bị dữ liệu3": {
      "main": [
        [
          {
            "node": "Tắt nhom3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tắt nhom3": {
      "main": [
        [
          {
            "node": "Trả Về Kết Quả1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lọc nhóm trong ngưỡng theo chi tiêu3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trả Về Kết Quả1": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9fa1b1e1-4f29-475a-9942-146618e888e1",
  "meta": {
    "instanceId": "8ae9064574590f4bef62fe6c8cafaae52a5a90dd40cb184103af1049753a2d5d"
  },
  "id": "q5wEYHtOXsUmvBEt",
  "tags": []
}